.header-class {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 40px;
    gap: 40px;
    background-color: rgb(249, 228, 159)
}
.leaderrr {
    color: rgb(249, 228, 159);
}
#one {
    color: rgb(249, 228, 159);
}
.navbar {
    display: flex; 
    justify-content: center; 
    gap: 40px;
    padding-left: 100px;
}
.lead {
  font-size: 1.25rem;   /* default is ~1.1rem */
  line-height: 1.7;
  color: black;
  font-weight: 500;
}


.aulogo {
    border-radius: 100%;
    background-color: black;
}   
/* Content box on top of background image */
.content-box {
  background: rgb(249, 228, 159); /* soft white overlay */
}

.bg-image {
    background-image: url("./assets/images/enggg.jpg");
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    padding: 40px;
  min-height: 300px;
}
.curveit {
    border-radius: 20px;
}
.two {
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

.two::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./assets/images/gallery.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;

  opacity: 0.25; /* THIS is the sweet spot */
  z-index: 0;
}
.two > div {
  position: relative;
  z-index: 1;
}
.life-now {
    color: rgb(249, 228, 159);
}
.leaderrr {
  color: rgb(249, 228, 159);
  font-weight: 600; /* or 700 for even bolder */
}
.contains {
    background-color: rgb(249, 228, 159);
    border-radius: 20px;
}
