@media(max-width: 768px) {
    
    .uniName {
        display: none;
    }

    .uniNameShort {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .categories {
        position: fixed;
        padding-bottom: 20px;
        top: 100px;
        right: -100%;
        width: 70%;
        background-color: rgb(0, 180, 216);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 30px;
        transition: right 0.3s ease;
        z-index: 1000;

    }

    .categories.active {
        right: 0;
    }
    .categories a {
        font-size: 1.5rem;
    }



}