.header-class {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 40px;
    gap: 40px;
}
.navbar {
    display: flex; 
    justify-content: center; 
    gap: 40px;
    padding-left: 100px;
}

.aulogo {
    border-radius: 100%;
    background-color: black;
}
main {
    padding: 20px;
}
* {
    background-color: rgb(249, 228, 159);
}
.text-body-secondary {
    font-weight: 600;
}