body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.theHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 180, 216);
    color: white;
    height: auto;
}

.logoName {
    display: flex;
    align-items: center;
    gap: 15px;
}

.uniName {
    margin: 0;
    font-size: 3rem;
}

.categories {
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
}

.categories a {
    color: white;   
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    font-size: 2.5rem;
}

.uniNameShort {
    display: none;
    margin: 0;
    font-size: 3rem;
}

.dropD {
    background-color: rgb(106, 198, 216);
    font-size: 2rem;
    color: white;
    text-align: center;
    display: none;
}

.theFooter {
    background-color: rgb(0, 180, 216);
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    color: white;
}

.footerLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.baseFooter {
    margin: 0;
    padding: 0;
}